<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--suppress ALL -->
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head th:replace="~{base :: head('Home')}"></head>

<body>
<header th:replace="~{base :: logo}"></header>
<div class="container">
    <div th:replace="~{base :: titulo('Meus pedidos')}"></div>
    <div class="px-3 bg-light user-select-none">
        <nav class="navbar navbar-expand navbar-light d-flex justify-content-between mb-3">
            <div class="navbar-nav">
                <a th:classappend="${status} == null ? active" class="nav-link" th:href="@{/usuario/pedido}">Todos</a>
                <a th:classappend="${status} == 'aguardando' ? active" class="nav-link"
                   th:href="@{/usuario/pedido/aguardando}">Aguardando</a>
                <a th:classappend="${status} == 'aprovado' ? active" class="nav-link"
                   th:href="@{/usuario/pedido/aprovado}">Aprovado</a>
                <a th:classappend="${status} == 'entregue' ? active" class="nav-link"
                   th:href="@{/usuario/pedido/entregue}">Entregue</a>
            </div>
            <a th:href="@{/pedido/formulario}">
                <button class="btn btn-secondary my-1" type="submit">Novo</button>
            </a>
        </nav>
    </div>
    <div class="card mb-3" th:each="pedido : ${pedidos}">
        <th:block th:switch="${pedido.statusPedido.name()}">
            <div th:case="'AGUARDANDO'" class="card-header alert-warning" th:text="${pedido.nomeDoProduto}">Nome do
                produto.
            </div>
            <div th:case="'APROVADO'" class="card-header alert-success" th:text="${pedido.nomeDoProduto}">Nome do
                produto.
            </div>
            <div th:case="'ENTREGUE'" class="card-header alert-dark" th:text="${pedido.nomeDoProduto}">Nome do
                produto.
            </div>
        </th:block>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 mb-3">
                    <div class="row">
                        <div class="col-md-5">Valor: <span th:if="${pedido.valorNegociado} != null"
                                                           th:text="${'R$ ' + #numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}">200,99</span>
                        </div>
                        <div class="col-md-7">Data da entrega: <span
                                th:text="${#temporals.format(pedido.dataDaEntrega, 'dd/MM/yyyy')}"></span>
                        </div>
                    </div>
                    <div><label for="produto"> Produto:</label>
                        <input id="produto" class="form-control" th:value="${pedido.urlProduto}"
                               value="URL do produto:"/>
                    </div>
                    <div><label for="descricao">Descrição:</label>
                        <textarea id="descricao" class="form-control"
                                  th:text="${pedido.descricao}">Descrição do pedido:</textarea>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <img class="img-thumbnail" th:src="${pedido.urlImagem}"
                         src="https://images-na.ssl-images-amazon.com/images/I/61X0ISBpD-L._AC_SL1000_.jpg"
                         alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>