<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <title th:text="${title}"></title>
</head>

<header th:fragment="logo" class="mb-3">
    <div class="logo-container p-3 d-flex justify-content-between">
        <span class="logo">mudi</span>
        <span class="mt-3">
            <a sec:authorize="!isAuthenticated()" class="text-decoration-none text-light" href="/login">login</a>
            <a onclick="document.querySelector('#form-logout').submit()" sec:authorize="isAuthenticated()"
               class="text-decoration-none text-light"
               href=#>logout</a>
            <form id="form-logout" th:action="@{/logout}" method="post"></form>
         </span>
    </div>
    <div sec:authorize="isAuthenticated()">
        <nav class="nav">
            <a class="nav-link" th:href="@{/home}">Home</a>
            <a class="nav-link" th:href="@{/usuario/pedido}">Pedidos</a>
            <a class="nav-link" th:href="@{/oferta}">Ofertas</a>
        </nav>
    </div>
</header>

<div th:fragment="titulo(valor)" class="px-3 bg-light user-select-none mb-3">
    <div class="jumbotron p-2">
        <h1 class="display-4" th:text="${valor}"></h1>
    </div>
</div>