<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--suppress ALL -->
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head th:replace="~{base :: head('Home')}"></head>

<body>
<header th:replace="~{base :: logo}"></header>
<div class="container">

    <div th:replace="~{base :: titulo('Últimos pedidos')}"></div>

    <div th:each="pedido : ${pedidos}">
        <div class="card mb-3">
            <div class="card-header alert-dark" th:text="${pedido.nomeDoProduto}">Nome do
                produto.
            </div>
            <div class="card-body">
                <div class="col-12 col-sm-8 mb-3">
                    <div class="row">
                        <div class="col-md-5">Valor: <span th:if="${pedido.valorNegociado} != null"
                                                           th:text="${'R$ ' + #numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}">200,99</span>
                        </div>
                        <div class="col-md-7">Data da entrega: <span
                                th:text="${#temporals.format(pedido.dataDaEntrega, 'dd/MM/yyyy')}"></span>
                        </div>
                    </div>
                    <div><label for="produto"> Produto:</label>
                        <input id="produto" class="form-control" th:value="${pedido.urlProduto}"
                               value="URL do produto:"/>
                    </div>
                    <div><label for="descricao">Descrição:</label>
                        <textarea id="descricao" class="form-control"
                                  th:text="${pedido.descricao}">Descrição do pedido:</textarea>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <img class="img-thumbnail" th:src="${pedido.urlImagem}"
                         src="https://images-na.ssl-images-amazon.com/images/I/61X0ISBpD-L._AC_SL1000_.jpg"
                         alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>