<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--suppress ALL -->
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head th:replace="~{base :: head('Home')}"></head>

<body onload="onLoad()">
<header th:replace="~{base :: logo}"></header>
<div class="container">
    <div th:replace="~{base :: titulo('Últimos pedidos')}"></div>
    <div id="ofertas">
        <div v-for="(pedido, index) in pedidos">
            <div class="card mb-3">
                <div class="card-header alert-dark">{{ pedido.nomeDoProduto }}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <div class="form-group mb-2">
                                <label v-bind:for="'produto-' + index"> Produto:<a v-bind:id="'produto-' + index"
                                                                                   v-bind:href="pedido.urlProduto"
                                                                                   target="_blank">
                                    {{ pedido.nomeDoProduto }}</a>
                                </label>
                            </div>
                            <div class="form-group mb-2">
                                <label v-bind:for="'comentario-' + index">Comentário:</label>
                                <textarea v-bind:id="'comentario-' + index" v-model="pedido.comentario"
                                          class="form-control">{{pedido.descricao}}</textarea>
                            </div>
                            <div class="row mb-2">
                                <div class="form-group col-md-6">
                                    <label v-bind:for="'valor-' + index">Valor:</label>
                                    <input class="form-control" type="text" v-model="pedido.valor"
                                           v-bind:id="'valor-' + index"
                                           v-bind:class="{'is-invalid':pedido.erros.valor!==''}">
                                    <div v-if="pedido.erros.valor" class="invalid-feedback">
                                        {{ pedido.erros.valor }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label v-bind:for="'dataDaEntrega-' + index">Data da entrega:</label>
                                    <input class="form-control" type="text"
                                           v-bind:id="'dataDaEntrega-' + index"
                                           v-bind:class="{'is-invalid':pedido.erros.valor!==''}"
                                           v-model="pedido.dataDaEntrega">
                                    <div v-if="pedido.erros.dataDaEntrega" class="invalid-feedback">
                                        {{ pedido.erros.dataDaEntrega }}
                                    </div>
                                </div>
                            </div>
                            <button v-if="!pedido.ofertaEnviada" v-on:click="enviarOferta(pedido)"
                                    class="btn btn-primary">Enviar Oferta
                            </button>
                            <button v-else class="btn btn-success">Oferta enviada</button>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-thumbnail" v-bind:src="pedido.urlImagem" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>